version: '3.7'
services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: umak_lebs
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    command: gunicorn -k eventlet -w 1 wsgi:application --bind 0.0.0.0:8080
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASS: example
      MYSQL_DB: umak_lebs
      EMAIL_USER: test@example.com
      EMAIL_PASS: password
      SECRET_KEY: dev_secret
    ports:
      - 8080:8080
    depends_on:
      - db

volumes:
  db_data:
