<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UMak-LEBS - Kiosk</title>

    <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/KioskSelectStyle.css">
</head>
<body>
    <!-- Header Section -->
    <div class="header-container">
        <h3 class="welcome">Welcome to Tool Room!</h3>
        <header class="topbar">
            <h1>UMak-LEBS</h1>
            <p>Laboratory Equipment Borrowing System</p>
        </header>
    </div>

    <!-- Main Buttons Section -->
    <main class="menu">
        <div class="option">
            <a href="/kiosk_borrow" class="button borrow-btn">
                <img src="static/icons/BorrowKiosk.png" alt="Borrow Icon">
                <span>Borrow</span>
            </a>
        </div>

        <div class="option">
            <a href="/kiosk_return_scanner" class="button return-btn">
                <img src="static/icons/ReturnKiosk.png" alt="Return Icon">
                <span>Return</span>
            </a>
        </div>
    </main>
</body>
</html>