/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #002b5c; /* dark blue background */
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.header-container {
  padding-top: 20px;
}
.welcome {
    color: #FFD200; /* yellow welcome text */
    position: fixed;
    left: 15px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500;
    display: block;
}
.topbar h1{
    color: #FFD200; /* yellow main title */
    font-weight: 700;
    margin-top: 30px;
}
.topbar p{
    color: #FFFF; /* yellow main title */
    font-weight: 500;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 80px;
}
.menu span{
    color: #002b5c; /* yellow main title */
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}
.button {
    background-color: #ffff;
    color: #002b5c;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.button:hover {
    transform: translateY(-15px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}
.button:active {
    transform: translateY(-8px);
}
.button img {
    width: 120px;
    margin-top: 40px;
    margin-bottom: 50px;
}